@use '@/shared/styles/mixins/grid' as mixins;

.error {
  text-align: center;
  color: var(--color-red);
  padding: 2rem;
  font-size: 1.1rem;
}

.filmsGrid {
  @include mixins.bigCardsGrid;
}

.noFilms {
  flex: 1 1 100%;
  text-align: center;
  color: var(--color-text);
  font-size: 1.1rem;
  padding: 2rem;
}
