@use '@/shared/styles/mixins/grid' as mixins;

.personsGrid {
  @include mixins.bigCardsGrid;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.error {
  text-align: center;
  color: var(--color-red);
  font-size: 1.1rem;
}
