@use '@/shared/styles/mixins/grid' as mixins;

.container {
  .title {
    font-size: 2rem;
    color: var(--color-heading);
    margin-bottom: 2rem;
    text-align: center;
  }
}

.infiniteScroll {
  width: 100%;
}

.personsGrid {
  @include mixins.bigCardsGrid;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.error {
  text-align: center;
  color: var(--color-red);
  padding: 2rem;
  font-size: 1.1rem;
}
