.card {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 12px;

  width: 100%;
  min-height: 120px;

  padding: 20px;

  background-color: var(--color-background-elements);
  border: 1px solid var(--color-split-line);
  border-radius: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.authorName {
  color: var(--color-heading);

  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

.content {
  min-width: 0;
}

.title {
  margin: 0 0 10px;

  overflow: hidden;

  color: var(--color-heading);

  font-size: 14px;
  font-weight: 700;
  line-height: 18px;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.text {
  margin: 0;

  color: var(--color-text);

  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  white-space: pre-wrap;
}

.date {
  color: var(--color-purple);

  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.likesCount {
  color: var(--color-green);

  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

.likeButton {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  background: none;
  border: none;
  cursor: pointer;
}

.likeButtonActive {
  opacity: 1;
}
