.card {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 320px;
  min-height: 180px;

  padding: 20px;

  background-color: var(--color-background-elements);
  border: 1px solid var(--color-split-line);
  border-radius: 12px;

  transition:
    background-color 0.2s ease,
    transform 0.2s ease;

  &:hover {
    background-color: var(--color-icon-default-hover);
    transform: translateY(-2px);
  }
}

.content {
  min-width: 0;
}

.title {
  margin: 0 0 10px;

  overflow: hidden;

  color: var(--color-heading);

  font-size: 14px;
  font-weight: 700;
  line-height: 18px;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.text {
  display: -webkit-box;

  max-height: 66px;

  overflow: hidden;

  color: var(--color-text);

  font-size: 15px;
  font-weight: 400;
  line-height: 22px;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 24px;
}

.date {
  color: var(--color-purple);

  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.likes {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 6px;
}

.likesCount {
  color: var(--color-green);

  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}