.header {
  position: relative;
  z-index: var(--z-header);
  background: var(--color-background);
  border-bottom: 1px solid var(--color-split-line);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  position: relative;
  transition: background 0.4s ease;
  
  &::after {
    content: '';
    background-color: var(--color-split-line);
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }
  
  &.active {
    background: var(--color-background-elements);
    border-radius: 12px 12px 0 0;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
}


// Мобильная версия
@media (max-width: 1160px) {
  .content {
    .navigation {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 12px;
  }
  
  .content {
    padding: 0;
    height: 64px;
  }
}
