.search {
  position: relative;
}

.button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover {
    .icon {
      color: var(--color-active);
    }
    .text {
      color: var(--color-active);
    }
  }
}

.icon {
  color: var(--color-text);
  transition: color 0.4s ease;
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-text);
  transition: color 0.4s ease;
}

@media (max-width: 1160px) {
  .button {
    .text {
      display: none;
    }
  }
}
