.container {
  width: 100%;
  margin-top: 0;
}

.filmography {
  width: 100%;
}

.content {
  font-family: 'IvySans', sans-serif;
  border-bottom: 1px solid var(--color-split-line);
  margin-top: 40px;
}

.header {
  display: flex;
  margin-bottom: 4px;
  align-items: baseline;
}

.title {
  margin-right: 8px;
  color: var(--color-heading);
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.subtitle {
  color: var(--color-input-text);
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.lists {
  margin-top: 20px;
}

.role {
  color: rgba(255, 255, 255, 0.72);
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
}

.roleActive {
  color: var(--color-heading);
  padding-bottom: 12px;
  margin-right: 20px;
  border-bottom: 4px solid var(--color-red);
}

.filmsScroll {
  width: 100%;
}

.filmsList {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0;
}

@media (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .roleActive {
    margin-right: 0;
  }
}
