.footer {
  background-color: var(--color-background);
  color: var(--color-text);
  
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .content {
    padding: 48px 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    
    &:before {
      content: '';
      background-color: var(--color-split-line);
      height: 1px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
    }
  }
  
  .column {
    padding: 0 12px;
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
  }
  
  .heading {
    display: block;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: var(--color-heading);
  }
  
  .item {
    margin-bottom: 8px;
  }
  
  .link {
    display: block;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    color: var(--color-text);
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.4s ease;
    
    &:hover {
      color: var(--color-heading);
    }
    
    &:not(:hover):not(:active) {
      color: var(--color-text);
      transition-duration: 0.4s;
    }
  }
  
  .text {
    max-width: 250px;
    line-height: 20px;
    
    &BigButton {
      text-align: center;
      transform: translateX(16px);
      color: var(--color-text);
    }
    
    &Copyrights {
      max-width: none;
      line-height: 22px;
    }
    
    &Additional {
      color: var(--color-heading);
      transition: color 0.3s ease;
      
      &:hover {
        color: var(--color-text);
      }
    }
  }
  
  .certificateLinkWrapper {
    background-image: linear-gradient(-45deg, var(--color-gradient-end), var(--color-gradient-start));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .certificateLink {
    font-size: 15px;
    font-weight: 500;
    color: inherit;
    -webkit-text-fill-color: transparent;
  }
  
  .buttons {
    display: flex;
    margin: 10px 10px 10px 0;
    animation: slideIn 1s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    
    &:first-of-type {
      margin-top: 18px;
    }
    
    &Hidden {
      display: none;
    }
  }
  
  .ask {
    transition: opacity 0.3s ease;
    
    &Hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
  
  .bigButton {
    margin-bottom: 24px;
    height: 104px;
    width: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 20px;
    
    background: linear-gradient(180deg, var(--color-gradient-button-start) 0%, var(--color-gradient-button-end) 100%);
    box-shadow: 0 0 104px var(--color-gradient-button-shadow);
  }
  
  .stores {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
  }
  
  .copyrights {
    min-width: 600px;
  }
  
  .community {
    display: flex;
    justify-content: space-between;
  }
  
  .iconBlock {
    margin-left: 12px;
    padding: 14px;
    border-radius: 100%;
    background-color: var(--color-icon-default);
    border-color: var(--color-icon-default);
    transition: background-color 0.4s ease;
    
    &:hover {
      background-color: var(--color-icon-default-hover);
    }
    
    &:not(:hover):not(:active) {
      background-color: var(--color-icon-default);
      transition-duration: 0.4s;
    }
  }
  
  .mobile {
    display: none;
  }
  
  .columnWide {
    flex: 1;
  }
  
  .textBigButton {
    text-align: center;
    transform: translateX(16px);
    color: var(--color-text);
  }
  
  .textAdditional {
    color: var(--color-heading);
    transition: color 0.3s ease;
    
    &:hover {
      color: var(--color-text);
    }
  }
  
  .textCopyrights {
    max-width: none;
    line-height: 22px;
  }
}

// Анимация появления
@keyframes slideIn {
  0% {
    display: block;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

// Мобильная версия
@media (max-width: 1160px) {
  .footer {
    .container {
      display: none;
    }
    
    .mobile {
      display: block;
    }
    
    .mobileContainer {
      padding-bottom: 80px;
    }
    
    .copyrightsMobile {
      word-wrap: normal;
      max-width: 600px;
    }
    
    .mobileText {
      font-size: 13px;
      line-height: 16px;
      font-weight: 400;
      font-style: normal;
      color: var(--color-purple);
    }
    
    .bottomBar {
      padding: 0 40px;
      display: flex;
      justify-content: center;
      backdrop-filter: blur(8px);
      background-color: rgba(31, 27, 46, 0.88);
      box-shadow: 0 -20px 40px rgba(7, 5, 14, 0.24);
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
    }
    
    .mobileList {
      flex: 1 0 100%;
      max-width: 600px;
      display: flex;
      justify-content: space-between;
    }
    
    .mobileItem {
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    
    .mobileHeading {
      margin-top: 6px;
      font-size: 10px;
      line-height: 12px;
      font-weight: 500;
      font-style: normal;
      height: 12px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: var(--color-input-text);
    }
    
    .svgBlock {
      display: flex;
      align-items: center;
    }
    
    .svgCircleCenter {
      margin: 0 2px;
    }
  }
}

@media (max-width: 650px) {
  .footer {
    .copyrights {
      display: none;
    }
  }
}
