.container {
  border-bottom: 1px solid var(--color-split-line);
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.title {
  color: var(--color-heading);
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.subtitle {
  color: var(--color-input-text);
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}


@media (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .list {
    gap: 8px;
  }

  .item {
    font-size: 14px;
    padding: 6px 12px;
  }
}

