.root {
  display: flex;
  flex-direction: column;

  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  color: var(--color-input-text);
}

.scroll {
  max-height: 320px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 6px;
}

.yearOption {
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 6px;
  margin-bottom: 2px;

  &:hover {
    background: color-mix(in srgb, var(--color-white) 5%, transparent);
    color: var(--color-white);

    .circleMark {
      opacity: 1;
    }
  }
}

.circleMark {
  opacity: 0;
  transition: all 0.2s ease;
  color: var(--color-icon-default);
  font-size: 16px;
}

.circleMarkChecked {
  opacity: 1;
  color: var(--color-red);
  font-size: 16px;
}

.yearOptionActive {
  color: var(--color-white);

  .circleMarkChecked {
    opacity: 1;
    color: var(--color-white);
    font-size: 16px;
  }
}
