.content {
  padding: 16px 10px;
  background-color: var(--color-background-elements);
  border-radius: 10px;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.button {
  display: flex;
  justify-content: flex-end;
}
