@use '@/shared/styles/variables/sizes' as sizes;

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.results {
  max-height: 200px;
  overflow-y: auto;
}

.resultItem {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 2px;

  background: transparent;
  border: none;
  border-radius: 6px;

  text-align: left;
  font-size: 14px;
  color: var(--color-text);
  cursor: pointer;

  transition:
    background 0.2s ease,
    color 0.2s ease;

  &:hover {
    background: var(--color-transparent-white-hover);
    color: var(--color-heading);
  }
}

@media (max-width: sizes.$bp-mobile) {
  .root {
    padding: 4px 12px 0 0;
  }
}
