@use '@/shared/styles/mixins/grid' as mixins;

.personsSection {
  width: 100%;
  margin-top: 20px;
}

.error {
  text-align: center;
  color: var(--color-red);
  padding: 2rem;
  font-size: 1.1rem;
}

.emptyState {
  text-align: center;
  color: var(--color-text);
  padding: 3rem 2rem;
  font-size: 1.1rem;
}

.infiniteScroll {
  width: 100%;
}

.personsGrid {
  @include mixins.bigCardsGrid;
}
