.result {
  max-width: 1240px;
  width: 100%;
}

.content {
  margin: 0 14%;
  display: flex;
  align-items: flex-start;
  padding: 24px 12px 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--color-background-elements);
  }
}

.icon {
  flex-shrink: 0;
  color: var(--color-text);
}

.info {
  color: var(--color-input-text);
  padding-left: 8px;
  flex: 1;
}

.title {
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-heading);
  transition: color 0.4s ease;

  .content:hover & {
    color: var(--color-red);
  }
}

.subtitle {
  margin-top: 4px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: var(--color-input-text);
}

