@use '@/shared/styles/variables/sizes' as sizes;

.container {
  padding-top: 24px;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 2rem;
  margin-bottom: 32px;

  @media (max-width: sizes.$bp-tablet) {
    padding-top: 0;
  }

  @media (max-width: sizes.$bp-mobile) {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

.preview {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.actionsPanel {
  width: 100%;
}

.posterSlot {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background: var(--color-background-elements);
}

.poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: 10;
}

.posterImage {
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.posterSkeleton {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 5;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-x: visible;
  min-width: 0;
}

.trailerDesctop {
  @media (max-width: sizes.$bp-tablet) {
    display: none;
  }
}

.trailerTablet {
  display: none;
  @media (max-width: sizes.$bp-tablet) {
    display: block;
    grid-column: 1 / -1;
  }
}
