@use '@/shared/styles/variables/sizes' as sizes;

.header {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: var(--z-header);

  height: var(--header-height);

  background: var(--color-background);
  border-bottom: 1px solid var(--color-split-line);
}

.inner {
  max-width: var(--max-layout-width);
  height: 100%;
  margin: 0 auto;
  position: relative;
  height: 100%;
  padding-top: 10px;
}

.bar {
  height: 100%;
  padding: 0 10px;
  border-radius: 12px 12px 0 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: background-color .3s ease;

  &Active {
    background: var(--color-modal-overlay);
    
    border-left: 1px solid var(--color-split-line);
    border-right: 1px solid var(--color-split-line);
    border-top: 1px solid var(--color-split-line);
  }
}

.logo {
  display: flex;
  align-items: center;

  color: var(--color-heading);
  text-decoration: none;

  &:hover {
    color: var(--color-red-active);
  }
}

.nav {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
}

.menu {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 4px;

  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuLink {
  display: block;

  padding: 10px 16px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 400;

  text-decoration: none;
  color: var(--color-text);

  border-radius: 8px;

  transition:
    color .25s ease,
    background .25s ease;

  &:hover {
    color: var(--color-active);
  }

  &:focus-visible {
    outline: 2px solid var(--color-active);
    outline-offset: 2px;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 32px;
  padding-right: 4px;
}

@media (max-width: sizes.$bp-tablet) {
  .header {
    display: none;
  }
}