@import '@/styles/colors.module.scss';
@import '@/styles/z-index.module.scss';

.filmcard {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  color: $textColor;
  font-weight: 400;
  z-index: $z-base;
  margin: 0 8px 24px 0;
  padding-left: 8px;
  
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .poster {
    margin-bottom: -5px;
    transition-duration: 0.4s;
    transform: scale(0.96);
  }

  .posterTwo {
    margin-bottom: -5px;
    transition-duration: 0.4s;
    transform: scale(0.96);
  }

  .img {
    position: relative;
  }

  .properties {
    display: none;
  }

  .icons {
    display: none;
  }

  .name {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
    max-width: 150px;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    .poster,
    .posterTwo {
      transform: scale(1);
      margin-top: -5px;
      margin-bottom: 0;
    }

    .properties {
      display: contents;
      position: relative;

      .icons {
        display: flex;
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: $z-dropdown;
        flex-direction: column;
        gap: 5px;
      }

      .propertiesInfo {
        display: flex;
        flex-direction: column;
        font-size: 13px;
        line-height: 16px;
        color: $textColor;
        bottom: 0;
        position: absolute;
        padding: 0 16px 16px 16px;
        gap: 6px;
      }

      .rating {
        display: flex;
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        align-items: baseline;
      }

      .infoShort {
        margin-top: 6px;
        font-size: 13px;
        line-height: 16px;
        font-weight: 400;
        color: $textColor;
      }

      .infoTime {
        margin-top: 4px;
        font-size: 13px;
        line-height: 16px;
        font-weight: 400;
        color: $textColor;
      }
    }
  }
}
