.root {
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px 16px;
  border-radius: 8px;
  background: transparent;
  border: none;

  font-size: 14px;
  color: var(--color-text);
  cursor: pointer;

  transition:
    background 0.2s ease,
    opacity 0.2s ease;

  &:hover:not(:disabled) {
    background: var(--color-transparent-white-hover);
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

.icon {
  display: flex;
  align-items: center;
}

.text {
  white-space: nowrap;
}
