.root {
  display: flex;
  align-items: center;
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  background: transparent;
  border: 1px solid var(--color-split-line);

  font-size: 14px;
  color: var(--color-text);
  cursor: pointer;

  transition:
    background 0.2s ease,
    opacity 0.2s ease;

  &:hover:not(:disabled) {
    background: var(--color-transparent-white-hover);
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}
