@use '@/shared/styles/variables/sizes' as sizes;

.additionalInfoBlock {
  display: none;

  @media (max-width: sizes.$bp-tablet) {
    display: flex;
    flex-direction: column;
  }
}

.line {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;

  &Additional {
    border-top: 1px solid var(--color-split-line);
    border-bottom: 1px solid var(--color-split-line);
  }
}

.text {
  color: var(--color-text);
  font-size: 14px;
  line-height: 1.4;
}

.icons {
  width: 180px;
  display: flex;
  justify-content: space-between;
}

// DESKTOP
.card {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 16px;
  row-gap: 12px;

  align-items: center;

  padding: 20px;
  border-radius: 8px;
  background: var(--color-background-elements);

  & > :nth-child(2n) {
    justify-self: end;
  }

  @media (max-width: sizes.$bp-tablet) {
    display: none;
  }
}

.active {
  color: var(--color-heading);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
