.item {
  all: unset;

  font-size: 16px;
  line-height: 22px;

  color: var(--color-text);

  cursor: pointer;

  transition: color .2s ease;

  &:hover {
    color: var(--color-heading);
  }

  &:focus-visible {
    outline: 2px solid var(--color-active);
    border-radius: 4px;
  }

  &:first-letter {
    text-transform: uppercase;
  }
}